{% extends 'userAuth/baseUserDash.html' %}
{% block title %} Add Patient {% endblock title %}

{% block userDashContent %}
<h4 style="text-align: center;">Add Non Registered Patient</h4>

<form style="background-color: #ced7d8;"  method="POST" enctype="multipart/form-data" class="p-5">
    {% if messages %}
            {% for message in messages%}
            <div {% if message.tags %} class="alert alert-success" role="alert" {% endif %}>
                {{message}}
            </div>
            {% endfor %}
    {% endif %}
    
    {% csrf_token %}
    {% for fm in form %}
        {{fm.label_tag}} {{fm}} <small class="text-danger">
            {{fm.errors}}
        </small>
    {% endfor %}

    <button type="submit" class="btn btn-primary mt-3">Add Patient</button>
</form>
{% endblock userDashContent %}