<!doctype html>
{% load static %}
{% load auth_extras %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'userAuth/css/style.css'%}">

    <script src="https://kit.fontawesome.com/9408609606.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- khalti integration -->
    <script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
    <title>NH | User | {% block title%} {% endblock title%}</title>

    <style>
        .dashboard-content {
            height: 100vh;
            overflow: auto;
            padding: 20px;
            padding-top: 80px;
        }


        .sidenav a,
        .dropdown-btn {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 18px;
            color: white;
            display: block;
            border: none;
            background: none;
            width: 100%;
            text-align: left;
            cursor: pointer;
            outline: none;
        }

        .dropdown-container {
            padding-left: 8px;
        }

        .dropdown-container a {
            font-size: 16px;
        }

        .sidenav-container {
            float: left;
            position: fixed;
            z-index: 1;
        }

        /* @media screen and (max-width: 550px) {
            .sidenav-container {
                float: left;
                position: fixed;
                z-index: 0;
            }
        } */
    </style>
</head>

<body>
    {% if request.user.is_authenticated %}

    <header class="bg-light d-flex gap-3 p-2" style="position: fixed; top:0; z-index: 1; width: 100%;">
        <div class="p-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample"
            aria-expanded="false" aria-controls="collapseWidthExample">
            <span class="text-dark"><i class="fa-solid fa-bars fa-2xl"></i></span>
        </div>
        <div>
            <a style="text-decoration: none;" href="{% url 'home' %}">
                <h2 style="display: inline;" id="user-dash-hospital-logo">Nepal Hospital</h2>
            </a>
        </div>
    </header>


    <div class="dashboard-container">
        <div style="float: left;" class="collapse collapse-horizontal sidenav-container" id="collapseWidthExample">
            <div style="min-height: 100vh; width: 250px; color: white; background-color: #202020;"
                class="card card-body">
                <div style="overflow: auto;" class="sidenav">
                    <div style="float: right;" class="p-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseWidthExample" aria-expanded="false"
                        aria-controls="collapseWidthExample">
                        <span class="text-darkt"><i class="fa-solid fa-close fa-2xl"></i></span>
                    </div>


                    <div style="clear: both;" class="user-profile">
                        <div id="user-profile-pic-container">
                            <!-- if thre the user has uploaded profile picture then it will show the particular picture -->
                            {% if p_prof.profile_pic %}
                            <img class="user-profile-pic" src="/media/{{p_prof.profile_pic}}" alt="profile">
                            {% elif d_prof.profile_pic %}
                            <img class="user-profile-pic" src="/media/{{d_prof.profile_pic}}" alt="profile">
                            {% elif s_prof.profile_pic %}
                            <img class="user-profile-pic" src="/media/{{s_prof.profile_pic}}" alt="profile">
                            {% else %}
                            <!-- else it will show the difault picture -->
                            <img class="user-profile-pic" src="{% static 'userAuth/images/nopic.png'%}" alt="">
                            {% endif %}
                        </div>
                        <p style="font-size: 16px;">{{request.user.username}}</p>
                    </div>



                    <hr class="divider">

                    <div class="user-nav-setting">


                        <div class="user-dash-nav">
                            {% if request.user|has_group:"patient" %}
                            <ul>
                                <!-- id="user-dash-nav-active" -->
                                <li><a href="{% url 'userDashHome' %}">Dashboard</a></li>
                                <li><a href="{% url 'bookreguserappointment'%}">Book appointment</a></li>
                                <li><a href="{% url 'myappointments' %}">My appointments</a></li>
                                <li><a href="{% url 'testreports' %}">Test report</a></li>
                            </ul>
                            {% elif request.user|has_group:"doctor" %}
                            <ul>
                                <!-- id="user-dash-nav-active" -->
                                <li><a href="{% url 'userDashHome' %}">Dashboard</a></li>
                                <li><a href="{% url 'viewMyAppDoc' 1 %}">Appointments</a></li>
                            </ul>
                            {% elif request.user|has_group:"staff" %}
                            <ul>
                                <!-- id="user-dash-nav-active" -->
                                <li><a href="{% url 'userDashHome' %}">Dashboard</a></li>
                                <li><a id="{{sAddPatient}}" href="{% url 'addNonRegUser' %}">Add patient</a></li>
                                <li><a id="{{sViewPatientActive}}" href="{% url 'viewPatients' %}">Non Registered
                                        Patients</a></li>
                                <li><a id="{{sViewRegPatientActive}}" href="{% url 'viewregpatients' %}">Registered
                                        Patients</a></li>
                                <li><a id="{{sViewDoctorActive}}" href="{% url 'viewDoctorsList' %}">Doctors List</a>
                                </li>
                            </ul>
                            {% endif %}

                            <hr class="divider">

                            <ul>
                                <li> <a href="{% url 'editprofile' %}"><i class="fas fa-edit"></i> Profile</a></li>
                                <li><a href="{% url 'changepassword' %}"><i class="fa-solid fa-lock"></i> Change</a>
                                </li>
                                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>
                                        Logout</a></li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="dashboard">
        <div class="dashboard-content container">

            {% block userDashContent %}



            {% endblock userDashContent %}
        </div>
    </div>
    </div>

    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>



    <script>
        // var message_ele = document.getElementById("edit-patient-message");

        // setTimeout(function () {
        //     message_ele.style.display = "none";
        // }, 5000);


        function verifyPayment(payload) {
            $.ajax({
                url: "{% url 'verify_payment' %}",
                type: "POST",
                data: payload,
                dataType: 'json',
                success: function (response) {
                    alert(response)
                    location.href = '/scheduleAppointment/myappointments'
                },
                error: function (error) { alert("error couldn't make payment rightnow") }
            });
        }

        var config = {
            // replace the publicKey with yours
            "publicKey": "test_public_key_9faccf64b8b3406db41430f2247fe937",
            "productIdentity": "1234567890",
            "productName": "Dragon",
            "productUrl": "http://gameofthrones.wikia.com/wiki/Dragons",
            "paymentPreference": [
                "KHALTI",
                "EBANKING",
                "MOBILE_BANKING",
                "CONNECT_IPS",
                "SCT",
            ],
            "eventHandler": {
                onSuccess(payload) {
                    // hit merchant api for initiating verfication
                    // console.log(payload);
                    verifyPayment(payload)
                },
                onError(error) {
                    console.log(error);
                },
                onClose() {
                    console.log('widget is closing');
                }
            }
        };

        var checkout = new KhaltiCheckout(config);
        try {
            var btn = document.getElementById("payment-button");
            btn.onclick = function () {
                // minimum transaction amount must be 10, i.e 1000 in paisa.
                checkout.show({ amount: 20000 });
            }
        } catch {

        }


        // for registered user functions

        function redirectToRegBookApp() {

            location.href = `/scheduleAppointment/bookreguserappointment`

        }

        function redirectToRegViewApp() {
            location.href = "/scheduleAppointment/myappointments"
        }

        function redirectToRegTestResult() {
            location.href = "/accounts/testreports/"
        }

        function editProfile() {
            location.href = "/accounts/editprofile/"
        }

        function changePassword() {
            location.href = "/accounts/changepassword/"
        }

        function userLogout() {
            location.href = "/accounts/logout/"
        }

        // for staff user functions 

        function addNonRegPatient() {
            location.href = "/accounts/addNonRegUser"
        }

        function viewAllNonRegPatient() {
            location.href = "/accounts/viewPatients/"
        }

        function viewDoctors() {
            location.href = "/accounts/viewDoctorsList"
        }

        function viewAllRegPatient() {

            location.href = "/accounts/viewRegPatients/"
        }


        function deleteReport(id, uid) {

            let c = confirm("Are you sure you want to delete this report ?")
            if (c) {
                location.href = `/accounts/deletereport/${id}/${uid}`
            }
        }

        function myPatientsAppointmentt() {
            location.href = "/accounts/viewMyAppDoc/1"
        }

    </script>

</body>

</html>