{% extends 'userAuth/baseUserDash.html' %}
{% load static %}
{% block title %}Edit Profile{% endblock title %}


{% block userDashContent %}


  <h4 style="text-align: center;">Edit Profile</h4>

    <form style="background-color: #ced7d8;"  method="POST" enctype="multipart/form-data" class="p-5">
        {% csrf_token %}
        {% for fm in form %}
            {{fm.label_tag}} {{fm}} <small class="text-danger">
                {{fm.errors}}
            </small>
        {% endfor %}

        <button type="submit" class="btn btn-primary mt-3">save changes</button>
    </form>

{% endblock userDashContent %}