{% extends 'mainApp/base.html' %}
{% load static %}
{% block title %}Passowrd Reset Confirm{% endblock title %}
{% block mainContent %}
<div class="container my-5">
 
  <div class="col-sm-9 offset-sm-1">
      <h3>Set New Password</h3>
   <form style="background-color: #ced7d8;" action="" method="POST" novalidate class="p-5">

    {% csrf_token %}

    {% for fm in form %}
      <div class="form-group">
        {{fm.label_tag}} {{fm}}  <small class="text-danger">
            {{fm.errors|striptags}}</small> <br>
      </div>
    {% endfor %}

     <button type="submit" class="btn btn-primary mt-3 mb-3">Submit</button>

     {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
      {% endfor %}
     {% endif %}

   </form>
  </div>
 </div>
</div>
{% endblock mainContent %}