{% extends 'userAuth/baseUserDash.html' %}
{% block title %} Doctors {% endblock title %}
{% load auth_extras %}


{% block userDashContent %}

{% if request.user.is_authenticated %}

{% if request.user|has_group:"staff" %}

    <h4 style="text-align: center; margin-top: 40px;">Doctors Lists</h4>

    <!-- <form style="width: 75%;">
        <div class="mb-3 d-flex gap-1">
            <input type="search" class="form-control" placeholder="search patient with name"> <button class="btn btn-dark">Search</button>
        </div>
    </form> -->
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>  
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Gender</th>
                <th scope="col">Phone</th>
                <th scope="col">Department</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            {% if doctors %}
            <tbody>
                {% for doc in doctors %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{doc.fullName}}</td>
                <td>{{doc.address}}</td>
                <td>{{doc.gender}}</td>
                <td>{{doc.phone}}</td>
                <td>{{doc.department}}</td>
                <td><a href="{% url 'viewDoctorAppointment' doc.id 1 %}"><button class="btn btn-sm btn-dark">View Appointments</button></a></td>
              </tr>

              {% endfor %}
            </tbody>
            {% else %}
                <h4>No records found</h4>
            {% endif %}
          </table>
    </div>
    {% endif %}
  {% endif %}
{% endblock userDashContent %}