{% extends 'userAuth/baseUserDash.html' %}
{% block title %} Patients {% endblock title %}
{% load auth_extras %}


{% block userDashContent %}
{% if request.user.is_authenticated %}

{% if request.user|has_group:"staff" %}

<h4 style="text-align: center; margin-top: 40px;">Patients Lists</h4>

<!-- <form style="width: 75%;">
  <div class="mb-3 d-flex gap-1">
    <input type="search" class="form-control" placeholder="search patient with name"> <button
      class="btn btn-dark">Search</button>
  </div>
</form> -->
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Phone</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    {% if nPatientDetails %}
    <tbody>
      {% for npd in nPatientDetails %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{npd.id}}</td>
        <td>{{npd.fullName}}</td>
        <td>{{npd.address}}</td>
        <td>{{npd.age}}</td>
        <td>{{npd.gender}}</td>
        <td>{{npd.phone}}</td>
        <td><a href="{% url 'patientprofile' npd.id %}"><button class="btn btn-sm btn-primary">View profile</button></a> </td> </td>
      </tr>

      {% endfor %}
    </tbody>
    {% else %}
    <h4>No records found</h4>
    {% endif %}
  </table>
</div>

{% endif %}
{% endif %}
{% endblock userDashContent %}