{% extends 'userAuth/baseUserDash.html' %}
{% block title %} Schedule Appointment{% endblock title %}
{% load auth_extras %}


{% block userDashContent %}
{% if request.user|has_group:"patient" %}
<h4 style="text-align: center;">Schedule Appointment</h4>

<form style="background-color: #ced7d8;" method="POST" class="p-5">
    {% csrf_token %}

    {% if messages %}
            {% for message in messages%}
            <div {% if message.tags %} class="alert alert-danger" role="alert" {% endif %}>
                {{message}}
            </div>
            {% endfor %}
    {% endif %}


    <div class="mb-3">
        <label class="form-label">Doctor</label>
        <select class="form-select" aria-label="Default select example" name="doctorName">
            {% for doctor in doctors %}
                <option value="{{doctor.fullName}}">{{doctor.fullName}}</option>
            {% endfor %}
          </select>
    </div>

    {% for fm in form %}
        {{fm.label_tag}} {{fm}} <small class="text-danger">
            {{fm.errors}}
        </small>
        <br>
    {% endfor %}

    <button class="btn btn-dark mt-3">Book Appointment</button>

</form>


{% endif %}

{% endblock userDashContent%}