*{
    margin: 0;
    padding: 0;
}

.form-container {
    width: 80%;
    margin: auto;
    margin-top: 60px;
}

.login-signup-form {
    padding: 40px 70px 40px 70px;
    background-color: #ced7d8;

}

.form-image {
    background-image: url("../images/hospital_image.jpg");
    opacity: 0.9;
    background-position: center;
    background-size: cover;
}


.userDashNav {
    width: auto;
    background-color: white;
    border-radius: 20px;
    min-height: 100vh;
    padding: 10px;
    position: relative;
}

#user-dash-body {
    background-color: #EAECF4;
}

.userDash {
    padding: 10px 40px 10px 40px;
}

.user-navigation-dashboard{
    display: flex;
}

.user-dashboard{
    width: 100%;
    padding: 10px 40px 10px 40px;
}

#user-dash-hospital-logo {
    font-weight: bold;
    text-decoration: none;
    color: #0AB8B7;
}

.user-profile {
    text-align: center;
}

#user-profile-pic-container {
    width: 100px;
    margin: auto;
}

.user-profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.user-dash-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
}

#user-dash-nav-active {
    color: #0AB8B7;
}

.user-dash-nav a {
    text-decoration: none;
    color: black;

}

.user-dash-nav a:hover {
    color: #0AB8B7;

}

.user-nav-setting{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75vh;
}

/* .user-accounts-setting {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
} */

.user-accounts-setting{
    text-align: center;
}



.user-accounts-setting a{
    color: black;
    text-decoration: none;
}

#custom-active{
    color: #0AB8B7;
}

.experience-education-container h5{
    background-color: #ed6fac;
     padding: 5px 0px 5px 0px; 
     text-align: center; color: white;
    }