#header-logo{
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    margin-right: 20%;
    color: #0AB8B7;

}

#custom-active a{
    color: #0AB8B7;
}

#customHeaderUl li a{
    font-size: 18px;
    /* color: black; */
    text-transform: uppercase;
    font-weight: bold;
    
}

#customHeaderUl li a:hover{
    color: #0AB8B7;
}


.view-book-container{
    display: flex;
    justify-content: space-between;
}


/* doctor profile css  */

.experience-education-container h5{
    background-color: #ed6fac;
     padding: 5px 0px 5px 0px; 
     text-align: center; color: white;
    }